In [10]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import random
import seaborn as sns

In [11]:
desert = pd.read_csv("Food Desert_Data_jj.csv")
#fib = pd.read_csv("county_fips_master.csv")


#desert_csv = pd.merge(desert, fib, how='outer', on=['County Name', 'State'])

texas_desert = desert.groupby('State').mean()
#texas_desert = desert[desert['State']=='IL']
#texas_desert = texas_desert.dropna()

In [12]:
texas_desert.head()

,Grocery 2009,Convenience 2009,Fast Food Restaurants 2009,Adult Diabetes % 2009,Adult Obsesity % 2009,Median Household Income 2009,Limited Access Population% 2009,Limited Access Population 2009,Population 2009,Grocery 2014,...,Population 2014,FF per capita 2009,FF per capita 2014,% change FF Per Capita,Grocery per capita 2009,Grocery per capita 2014,% change in grocery per capita,% change in Access,% Change in Obesity,% change in income
State,,,,,,,,,,,,,,,,,,,,,
AK,9.400000,6.000000,7.300000,7.880000,31.760000,50652.700000,36.800000,4066.000000,9371.700000,8.000000,...,9553.100000,0.001179,0.000469,-18.909000,0.001536,0.001250,-10.104000,13.310000,-3.868000,14.522000
AL,11.590909,46.954545,49.606061,13.906061,35.119697,36158.409091,16.909091,15479.530303,71153.681818,11.303030,...,72071.696970,0.000570,0.000584,1.949394,0.000209,0.000186,-6.459545,29.911364,3.277424,9.576970
AR,10.112676,32.042254,41.661972,12.401408,33.661972,35439.126761,19.056338,13986.169014,57926.732394,9.197183,...,58807.563380,0.000568,0.000562,2.233521,0.000221,0.000181,-12.675493,41.280000,7.626197,10.319155
AZ,64.692308,144.153846,309.615385,9.984615,28.069231,41814.615385,34.307692,92083.769231,486469.846154,62.307692,...,511791.769231,0.000517,0.000512,-1.579231,0.000141,0.000136,-1.438462,7.690769,3.651538,8.396154
CA,75.590909,90.750000,241.022727,8.279545,25.579545,48118.727273,21.340909,51613.681818,362603.431818,79.113636,...,376846.227273,0.000623,0.000629,1.688182,0.000278,0.000281,2.268864,-3.377500,-1.526136,9.622727

In [13]:
texas_desert.reset_index(inplace=True)
texas_desert.columns

Index(['State', 'Grocery 2009', 'Convenience 2009',
       'Fast Food Restaurants 2009', 'Adult Diabetes % 2009',
       'Adult Obsesity % 2009', 'Median Household Income 2009',
       'Limited Access Population% 2009', 'Limited Access Population 2009',
       'Population 2009', 'Grocery 2014', 'Convenience 2014',
       'Fast Food Restaurants 2014', 'Adult Diabetes 2014',
       'Adult Obesity 2014', 'Median Household Income 2014',
       'Limited Access % 2014', 'Limited Access 2014', 'Population 2014',
       'FF per capita 2009', 'FF per capita 2014', '% change FF Per Capita',
       'Grocery per capita 2009', 'Grocery per capita 2014',
       '% change in grocery per capita', '% change in Access',
       '% Change in Obesity', '% change in income'],
      dtype='object')

In [49]:
outlier_df = texas_desert[['State', '% Change in Obesity', '% change in Access']]
outlier_df.head()

  State  % Change in Obesity  % change in Access
0    AK            -3.868000           13.310000
1    AL             3.277424           29.911364
2    AR             7.626197           41.280000
3    AZ             3.651538            7.690769
4    CA            -1.526136           -3.377500

In [54]:
outlier_df['outlier'] = outlier_df.apply((lambda x: (x[2]> 0 and x[1]>0) or (x[2]< 0 and x[1]<0)  ), axis = 1)

outlier_df

/Users/blakezpalder/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   State  % Change in Obesity  % change in Access  outlier
0     AK            -3.868000           13.310000    False
1     AL             3.277424           29.911364     True
2     AR             7.626197           41.280000     True
3     AZ             3.651538            7.690769     True
4     CA            -1.526136           -3.377500     True
5     CO             2.454821            0.107857     True
6     CT             9.686667           -1.623333    False
7     DE             2.875000          -16.720000    False
8     FL             1.528387            1.470645     True
9     GA             3.035032           11.940000     True
10    HI            -6.432000           -0.680000     True
11    IA             7.015699            7.987419     True
12    ID             3.266829            7.023902     True
13    IL             2.969388           12.256735     True
14    IN             2.894444           17.023333     True
15    KS             2.179143           17.597143     True
16    KY             3.127667            8.949000     True
17    LA             5.148409           -0.480227    False
18    MA             0.770714          -13.382143    False
19    MD             5.185500           31.884500     True
20    ME             0.627500           -5.960625    False
21    MI             1.425897           11.492692     True
22    MN             3.579737           -4.340658    False
23    MO             2.980280           16.569252     True
24    MS             3.646500           14.666875     True
25    MT             3.967708            6.884167     True
26    NC             2.272828            0.623838     True
27    ND             3.401961          -10.590784    False
28    NE             2.488539           -7.723483    False
29    NH             8.821000           -6.348000    False
30    NJ             4.055000            1.925500     True
31    NM             2.231154            1.256923     True
32    NV             2.417333           16.272000     True
33    NY             1.768667            5.523833     True
34    OH             3.251954           15.274023     True
35    OK             5.207200           18.485200     True
36    OR             4.766286            0.976857     True
37    PA             3.513731            5.342985     True
38    RI             3.892000          -15.734000    False
39    SC             2.070870           31.387174     True
40    SD            -0.639365           -0.918730     True
41    TN             2.359043           -0.652766    False
42    TX            -1.059705           17.321646    False
43    UT            -0.320385          -11.589615     True
44    VA             1.418700            2.987300     True
45    VT             3.164615           -3.643846    False
46    WA             2.524571           20.446857     True
47    WI             3.060303           12.537879     True
48    WV             3.552364           24.310364     True
49    WY             3.260000           -0.268571    False

In [8]:
texas_desert.columns.values

array(['State', 'Grocery 2009', 'Convenience 2009',
       'Fast Food Restaurants 2009', 'Adult Diabetes % 2009',
       'Adult Obsesity % 2009', 'Median Household Income 2009',
       'Limited Access Population% 2009', 'Limited Access Population 2009',
       'Population 2009', 'Grocery 2014', 'Convenience 2014',
       'Fast Food Restaurants 2014', 'Adult Diabetes 2014',
       'Adult Obesity 2014', 'Median Household Income 2014',
       'Limited Access % 2014', 'Limited Access 2014', 'Population 2014',
       'FF per capita 2009', 'FF per capita 2014',
       '% change FF Per Capita', 'Grocery per capita 2009',
       'Grocery per capita 2014', '% change in grocery per capita',
       '% change in Access', '% Change in Obesity', '% change in income'], dtype=object)

In [10]:
import plotly.plotly as py
import plotly.graph_objs as go


trace1 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in Access'],
    name='Access'
)
trace2 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% Change in Obesity'],
    name='Obesity'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go



trace1 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% Change in Obesity'],
    name='Obesity'
)
trace2 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in income'],
    name='Income'
)
trace3 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in Access'],
    name='Access'
)
data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go



trace1 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in grocery per capita'],
    name='Grocery'
)
trace2 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% Change in Obesity'],
    name='Obesity'
)
trace3 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change FF Per Capita'],
    name='FF'
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go



trace1 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in grocery per capita'],
    name='Grocery'
)
trace2 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in income'],
    name='Income'
)
trace3 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change FF Per Capita'],
    name='FF'
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go


trace1 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in grocery per capita'],
    name='Grocery'
)
trace2 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change in Access'],
    name='Access'
)
trace3 = go.Bar(
    x=texas_desert['State'],
    y=texas_desert['% change FF Per Capita'],
    name='FF'
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [ ]:
x = texas_desert['State']

trace1 = {
  'x': x,
  'y': texas_desert['% change in grocery per capita'],
  'name': 'Grocery',
  'type': 'bar'
};
trace2 = {
  'x': x,
  'y': texas_desert['% change in Access'],
  'name': 'Access',
  'type': 'bar'
};
trace3 = {
  'x': x,
  'y': texas_desert['% change FF Per Capita'],
  'name': 'FF',
  'type': 'bar'
 }
 
trace4 = {
  'x': x,
  'y': texas_desert['% change in income'],
  'name': 'Income',
  'type': 'bar'
 }

trace5 = {
  'x': x,
  'y': texas_desert['% Change in Obesity'],
  'name': 'Obesity',
  'type': 'bar'
 }
 
data = [trace1, trace2, trace3, trace4, trace5];
layout = {
  'xaxis': {'title': 'X axis'},
  'yaxis': {'title': 'Y axis'},
  'barmode': 'relative',
  'title': 'Relative Barmode'
};
py.iplot({'data': data, 'layout': layout}, filename='barmode-relative')

In [ ]:
import plotly.plotly as py
import pandas as pd

#df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

#df['text'] = df['state'] + '<br>' +\
 #   'Beef '+df['beef']+' Dairy '+df['dairy']+'<br>'+\
  #  'Fruits '+df['total fruits']+' Veggies ' + df['total veggies']+'<br>'+\
   # 'Wheat '+df['wheat']+' Corn '+df['corn']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = texas_desert['State'],
        z = texas_desert['% Change in Obesity'].astype(float),
        locationmode = 'USA-states',
       # text = texas_desert['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "USA Access")
        ) ]

layout = dict(
        title = 'Access Health',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

In [ ]:
x_axis = texas_desert['State']
y= texas_desert['% Change in Obesity']
z= texas_desert['% change in income']
points_handle, = plt.plot(x_axis, y, marker = 'v', color ="blue", label = "% Change in Obesity")
points_c_handle, = plt.plot(x_axis, z, marker ="s", color ="red", label="% change in income'")
plt.legend(loc="upper right")
plt.show()

In [ ]:
import plotly.plotly as py
import plotly.figure_factory as ff

import plotly

plotly.tools.set_credentials_file(username='blakezara', api_key='lal8d55wB6gXm0DSbxt1')


colorscale = ["#f7fbff","#ebf3fb","#deebf7","#d2e3f3","#c6dbef","#b3d2e9","#9ecae1",
              "#85bcdb","#6baed6","#57a0ce","#4292c6","#3082be","#2171b5","#1361a9",
              "#08519c","#0b4083","#08306b"]
endpts = list(np.linspace(1, 100, len(colorscale) - 1))
fips = desert['fips'].tolist()
values = desert['Adult Obsesity % 2009'].tolist()

fig = ff.create_choropleth(
    fips=fips, values=values,
    binning_endpoints=endpts,
    colorscale=colorscale,
    show_state_data=False,
    show_hover=True, centroid_marker={'opacity': 0},
    asp=2.9, title='Title',
    legend_title='Sub'
)
py.iplot(fig, filename='choropleth_full_usa')

In [ ]:
# Create a scatter plot which compares MPG to horsepower iwth the size being model year
desert_csv.plot(kind="scatter", x="Grocery 2009", y="Median Household Income 2009", grid=True, figsize=(10, 5),
              title="Grocery Vs. MEdian Income")
plt.show()

In [ ]:

!pip install pivottablejs

In [ ]:
from pivottablejs import pivot_ui
pivot_ui(desert_csv)